.title-container
{
  margin:20px;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 33px;
  font-weight: bold;
}

.experiences {
    margin: 20px;
    width: 50%;
  }

.experiences-container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-company {
  max-width: 100px;
  max-height: 40px;
}